.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    margin-bottom: 10px;
}
.logo > .image-link-router > img {
    height: 100px;
    width: 150px;  
}

.logo > .logo-btn {
    border: none;
    cursor: pointer;
    background-color:white;
}

.nav-items >ul{
    display: flex;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 140px;
    padding-right: 50px;
}

.nav-items > ul > li {
    padding: 10px 10px;
    font-weight: bold;
    
}


.body, .shimmer-component-container{
    border: 1px solid #000000;

}

.restuarnt-container,.shimmer-component-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restuarant-card,.shimmer-component {
    width: 300px;
    margin: 10px;
    background-color: bisque;
    padding: 10px;
    font-weight: bold;
}

.shimmer-component{
    background-color: #F5F5F5;
    height: 500px;
}
.restuarant-card:hover{
    border: 1px solid #000000;
    cursor: pointer;
}

.restuarant-card > img{
    width: 300px;
    height:200px;
}

.filter-btn{
    height:25px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #1F883D;
    color: whitesmoke;
}

.login-btn{
    background-color: #1F883D;
    width: 100px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
}
.search-input{
    width: 1000px;
    height: 20px;
    margin-left: 50px;
    margin-right: 5px;
}
.search-btn{
    background-color: #1F883D;
    height:25px;
    color: whitesmoke;
    font-weight: bold;
}

.about-us-container > .user-card{
    border : 1px solid #000000;
    padding: 10px;
    margin: 10px;
}